
<% provide(:title, "Home") %>

    <div class="jumbotron">
      	<div class="container">
        <h1>Manage Your Music</h1>
        <p class="lead">Publishing and Distributing music can be a pain in the ass. AXLRY lets Artists and Labels publish and monetize music everywhere.</p>
       
      	</div>
    </div>

    <div class="container">
    	<!--<div class="row">
    		<div class="col-md-7">
    			<h2>Don't Lose A Cent</h2>
    			<p>Many other music distribution services only allow you to publish songs to music stores. Yet YouTube and Soundcloud continue to be 2 of the largest music websites in the world. Don't lose out on money and fans by having to publish music with multiple platforms. AXLRY lets you publish to every major platform from one place.</p>
    		</div>
    		<div class="col-md-5">
    		</div>
    	</div>-->
    	<!--<div class="row">
    		<div class="col-md-7">
    			<h2>Upload Music To YouTube</h2>
    			<p>YouTube was built for video. This used to mean uploading music to YouTube required you to spend hours converting your music to video files. AXLRY does this for you. Thanks to our friends at TunesToTube AXLRY will automatically convert your music files and artwork into a video file ready to publish to YouTube with a click of a button.</p>
    		</div>
    		<div class="col-md-5">
    		</div>
    	</div>
    	<div class="row">

    		<div class="col-md-4">
			<div class="panel panel-default">
    			<div class="panel-body">
  					<h3>Creator Plan $0/mo</h3>
  					<p>Basic panel example</p>
  				</div>
			</div>
			</div>

    		<div class="col-md-4">
    		<div class="panel panel-default">
    			
  				<div class="panel-body">
  					<h3>Artist Plan $25/mo</h3>
  					<p>Basic panel example</p>
  				</div>
			</div>
			</div>

			<div class="col-md-4">
			<div class="panel panel-default">
    			<div class="panel-body">
  					<h3>Label Plan $250/mo</h3>
  					<p>Basic panel example</p>
  				</div>
			</div>
			</div>
    	</div>-->
    	<div class="row">
    		<div class="col-md-6 features">
    			<h2>Features</h2>
    			<ul>
    				<li>Upload and Monetize your music on Soundcloud and YouTube</li>
    				<li>Sell your music worldwide on iTunes, spotify, Amazon, and 150+ music stores</li>
    				<li>Collect Publishing Royalties & license your music</li>
    				<li>Keep 100% of your royalties and get paid monthly</li>
    				<li>Split revenue with other artists, producers or directors</li> 
    				<li>Create & Manage multiple artists accounts with a label plan</li>
    			</ul>
    		</div>
    		<div class="col-md-6 signup">
    			<h2>Sign Up</h2>
    			<label></label>
    			<input type="email" class="form-control" placeholder="email">
    			<label></label>
    			<input type="password" class="form-control" placeholder="password">
    			<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-success pull-right" %>
    			<!--<button class="btn btn-lg btn-success pull-right">Sign Up</button>-->
    		</div>
    	</div>
    </div>